<link rel="stylesheet" href="/css/desktopNavStyles.css">
<div class="desktop_navigation_container">
    <header class="header_container">
        <div class="header">
            <a href="/">
                <div class="title">
                    <img src="https://about.hydraulisc.net/assets/img/Foss-Hydraulisc.png" class="logo">
                </div>
            </a>
            <div class="action_buttons_container">
                <nav class="action_buttons_nav">
                    <div class="action_buttons">
                        <ul class="action_buttons_list">
                            <% if (username) { %>
                                <a href="/">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="z-index: 10;">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/><g>
                                            <path d="M19 10L19 20H9M5 20L5 10L12 3L15.5 6.5" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <!--<a href="/#">
                                    <svg fill="var(--text-primary)" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="27px" viewBox="0 0 368.625 368.625" xml:space="preserve">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M356.125,50.318H12.5c-6.903,0-12.5,5.597-12.5,12.5v242.988c0,6.902,5.597,12.5,12.5,12.5h343.625 c6.902,0,12.5-5.598,12.5-12.5V62.818C368.625,55.916,363.027,50.318,356.125,50.318z M343.625,293.307H25V75.318h318.625V293.307 z" stroke="var(--text-primary)"/>
                                                    <path d="M57.755,134.201l120,73.937c2.01,1.239,4.283,1.858,6.557,1.858s4.547-0.619,6.557-1.858l120-73.937 c5.877-3.621,7.707-11.322,4.086-17.199s-11.324-7.707-17.199-4.085l-113.444,69.896L70.869,112.917 c-5.875-3.619-13.576-1.793-17.199,4.085C50.048,122.878,51.877,130.58,57.755,134.201z" stroke="var(--text-primary)"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>-->
                                <a href="/upload/">
                                    <svg width="27px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <path d="M22 20.8201C15.426 22.392 8.574 22.392 2 20.8201" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12.0508 16V2" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M7.09961 6.21997L10.6096 2.60986C10.7895 2.42449 11.0048 2.27715 11.2427 2.17651C11.4806 2.07588 11.7363 2.02417 11.9946 2.02417C12.2529 2.02417 12.5086 2.07588 12.7465 2.17651C12.9844 2.27715 13.1997 2.42449 13.3796 2.60986L16.8996 6.21997" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <!--<a href="/#">
                                    <svg width="29px" height="29px" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.10745 2.67414C9.98414 2.24187 10.9649 2 12 2C15.7274 2 18.7491 5.13623 18.7491 9.00497V9.70957C18.7491 10.5552 18.9903 11.3818 19.4422 12.0854L20.5496 13.8095C21.5612 15.3843 20.789 17.5249 19.0296 18.0229C14.4273 19.3257 9.57274 19.3257 4.97036 18.0229C3.21105 17.5249 2.43882 15.3843 3.45036 13.8095L4.5578 12.0854C5.00972 11.3818 5.25087 10.5552 5.25087 9.70957V9.00497C5.25087 7.93058 5.48391 6.91269 5.90039 6.00277" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M7.5 19C8.15503 20.7478 9.92246 22 12 22C12.2445 22 12.4847 21.9827 12.7192 21.9492M16.5 19C16.2329 19.7126 15.781 20.3428 15.1985 20.8393" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </a> -->
                                <a href="/user/<%- username %>">
                                    <svg width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="10.2" fill="none" stroke="#fff" stroke-width="1.4" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-90 12 12)"/>
                                        <circle cx="12" cy="8.64" r="2.16" fill="none" stroke="#fff" stroke-width="1"/>
                                        <path d="M7.8 16.8 A4.2 4.2 0 0 1 16.2 16.8" fill="none" stroke="#fff" stroke-width="1" stroke-linecap="round"/>
                                    </svg>
                                </a>
                            <% } else { %>
                                <a href="/">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="z-index: 10;">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/><g>
                                            <path d="M19 10L19 20H9M5 20L5 10L12 3L15.5 6.5" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="/login">
                                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                        <g id="SVGRepo_iconCarrier"> <path d="M15 20H18C19.1046 20 20 19.1046 20 18M15 4H18C19.1046 4 20 4.89543 20 6V14M11 16L15 12H3M11 8L12 9" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </g>
                                    </svg>
                                </a>
                            <% } %>
                        </ul>
                        <div id="credoauth2_scope"></div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>