<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/classicStyles.css">
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                <h2>Registration Successful!</h2>
                <p>Your login will be: <strong><%= newUser %></strong></p>
                <p>Remember to update your password managers for this change!</p>
                <p>You cannot login without your discriminator!!</p>
                <a href="/#" style="color: aqua;">Return Home</a>
                <a href="/login" style="color: aqua;">Return to Login</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer', { username: ownId}) %>
</body>
</html>