<script src="/js/settingsDesktopNav.js"></script>
<div class="settings_navigation_container">
    <div>
        <nav class="settings_nav">
            <section class="group">
                <div class="group_title"><span class="mobileHideMe">User Settings</span></div>
                <div>
                    <a onclick="profileSettings()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-90 100 100)"/>
                            <circle cx="100" cy="72" r="18" fill="none" stroke="var(--text-primary)" stroke-width="16"/>
                            <path d="M65 140 A35 35 0 0 1 135 140" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                        </svg>
                        <span class="text mobileHideMe">Profile</span>
                    </a>
                    <a onclick="privacySettings()" class="nav_button">
                        <svg width="18px" height="18px" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g fill="none" stroke="var(--text-primary)" stroke-width="16">
                                    <path stroke-linecap="round" d="M151.8 144.5a74 74 0 0 1-85.59 19.21A74 74 0 0 1 22.42 87.7a74 74 0 0 1 59.55-64.42m28.03.06a74 74 0 0 1 50.06 35.61 74 74 0 0 1 5.915 61.15"></path>
                                    <path d="M76 92h40c4.432 0 8 3.568 8 8v22c0 4.432-3.568 8-8 8H76c-4.432 0-8-3.568-8-8v-22c0-4.432 3.568-8 8-8zm4 0V77.7C80 69.029 87.163 62 96 62s16 7.029 16 15.7V92"></path>
                                </g>
                            </g>
                        </svg>
                        <span class="text mobileHideMe">Privacy</span>
                    </a>
                    <!--<a onclick="notifSettings()" class="nav_button">
                        <span class="text">Notifications</span>
                    </a>-->
                    <a onclick="securitySettings()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path opacity="0" d="M20.9099 11.1198C20.9099 16.0098 17.3599 20.5898 12.5099 21.9298C12.1799 22.0198 11.8198 22.0198 11.4898 21.9298C6.63984 20.5898 3.08984 16.0098 3.08984 11.1198V6.72979C3.08984 5.90979 3.70986 4.97979 4.47986 4.66979L10.0498 2.38982C11.2998 1.87982 12.7098 1.87982 13.9598 2.38982L19.5298 4.66979C20.2898 4.97979 20.9199 5.90979 20.9199 6.72979L20.9099 11.1198Z" stroke="var(--text-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M10.0399 2.38982C11.2899 1.87982 12.6999 1.87982 13.9499 2.38982L19.5198 4.66979C20.2798 4.97979 20.9099 5.90979 20.9099 6.72979V11.1198C20.9099 16.0098 17.3599 20.5898 12.5099 21.9298C12.1799 22.0198 11.8198 22.0198 11.4898 21.9298C6.63984 20.5898 3.08984 16.0098 3.08984 11.1198" stroke="var(--text-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span class="text mobileHideMe">Security</span>
                    </a>
                </div>
            </section>
            <section class="group">
                <div class="group_title"><span class="mobileHideMe">Client Settings</span></div>
                <div>
                    <a onclick="generalClient()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" fill="none" stroke="var(--text-primary)" stroke-width="2" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-90 12 12)"/>
                            <path transform="translate(12 12) scale(0.75) translate(-12 -12)" d="M20.58 19.37L17.59 11.01C17.38 10.46 16.91 10.12 16.37 10.12C15.83 10.12 15.37 10.46 15.14 11.03L12.16 19.37C12.02 19.76 12.22 20.19 12.61 20.33C13 20.47 13.43 20.27 13.57 19.88L14.19 18.15H18.54L19.16 19.88C19.27 20.19 19.56 20.38 19.87 20.38C19.95 20.38 20.04 20.37 20.12 20.34C20.51 20.2 20.71 19.77 20.57 19.38L20.58 19.37ZM14.74 16.64L16.38 12.05L18.02 16.64H14.74ZM12.19 7.85C9.92999 11.42 7.89 13.58 5.41 15.02C5.29 15.09 5.16 15.12 5.04 15.12C4.78 15.12 4.53 14.99 4.39 14.75C4.18 14.39 4.3 13.93 4.66 13.73C6.75999 12.51 8.48 10.76 10.41 7.86H4.12C3.71 7.86 3.37 7.52 3.37 7.11C3.37 6.7 3.71 6.36 4.12 6.36H7.87V4.38C7.87 3.97 8.21 3.63 8.62 3.63C9.02999 3.63 9.37 3.97 9.37 4.38V6.36H13.12C13.53 6.36 13.87 6.7 13.87 7.11C13.87 7.52 13.53 7.86 13.12 7.86H12.18L12.19 7.85ZM12.23 15.12C12.1 15.12 11.97 15.09 11.85 15.02C11.2 14.64 10.57 14.22 9.97999 13.78C9.64999 13.53 9.58 13.06 9.83 12.73C10.08 12.4 10.55 12.33 10.88 12.58C11.42 12.99 12.01 13.37 12.61 13.72C12.97 13.93 13.09 14.39 12.88 14.75C12.74 14.99 12.49 15.12 12.23 15.12Z" fill="var(--text-primary)"/>
                        </svg>
                        <span class="text mobileHideMe">Language and Icons</span>
                    </a>
                    <a onclick="themeFunction()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 -1 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="Free-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g transform="translate(-820.000000, -600.000000)" id="Group" stroke="var(--text-primary)" stroke-width="2">
                                        <g transform="translate(819.000000, 598.000000)" id="Shape">
                                            <line x1="2" y1="21" x2="22" y2="21"></line>
                                            <line x1="2" y1="3" x2="22" y2="3"></line>
                                            <path d="M17,17 L7,17 C5.8954305,17 5,16.1045695 5,15 L5,9 C5,7.8954305 5.8954305,7 7,7 L17,7 C18.1045695,7 19,7.8954305 19,9 L19,15 C19,16.1045695 18.1045695,17 17,17 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span class="text mobileHideMe">Theme</span>
                    </a>
                    <a onclick="pluginsList()" class="nav_button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px">
                            <path d="M3 3 H9 C9 1.5 11 1.5 11 3 H21 V9 C22.5 9 22.5 11 21 11 V21 H15 C15 22.5 13 22.5 13 21 H3 V15" fill="none" stroke="var(--text-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="text mobileHideMe">Plugins</span>
                    </a>
                </div>
            </section>
            <section class="group">
                <div class="group_title"><span class="mobileHideMe">Other Settings</span></div>
                <div>
                    <a onclick="mute_or_unmute()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-60 100 100)"/>
                            <line x1="70" y1="70" x2="130" y2="130" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="130" y1="70" x2="70" y2="130" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                        </svg>
                        <span class="text mobileHideMe">Mutes and Blocks</span>
                    </a>
                    <a onclick="apiSetting()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-180 100 100)"/>
                            <line x1="70" y1="90" x2="130" y2="90" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="100" y1="60" x2="100" y2="120" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <circle cx="70" cy="90" r="10" fill="var(--text-primary)"/>
                            <circle cx="130" cy="90" r="10" fill="var(--text-primary)"/>
                            <circle cx="100" cy="60" r="10" fill="var(--text-primary)"/>
                            <circle cx="100" cy="120" r="10" fill="var(--text-primary)"/>
                        </svg>
                        <span class="text mobileHideMe">API</span>
                    </a>
                    <a onclick="payloadUrl()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-45 100 100)"/>
                            <line x1="70" y1="130" x2="130" y2="70" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="90" y1="70" x2="130" y2="70" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="130" y1="70" x2="130" y2="110" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                        </svg>
                        <span class="text mobileHideMe">Webhook</span>
                    </a>
                    <a onclick="developer()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-190 100 100)"/>
                            <line x1="80" y1="60" x2="60" y2="100" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="60" y1="100" x2="80" y2="140" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="120" y1="60" x2="140" y2="100" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            <line x1="140" y1="100" x2="120" y2="140" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                        </svg>
                        <span class="text mobileHideMe">Developer</span>
                    </a>
                    <a onclick="additionalSettings()" class="nav_button">
                        <svg width="16px" height="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="100" cy="100" r="85" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round" pathLength="100" stroke-dasharray="90 10" transform="rotate(-160 100 100)"/>
                            <circle cx="70" cy="100" r="10" fill="var(--text-primary)"/>
                            <circle cx="100" cy="100" r="10" fill="var(--text-primary)"/>
                            <circle cx="130" cy="100" r="10" fill="var(--text-primary)"/>
                        </svg>
                        <span class="text mobileHideMe">Other</span>
                    </a>
                </div>
            </section>
            <% if (isAdmin == true) { %>
                <section class="group">
                    <div class="group_title"><span class="mobileHideMe">Admin</span></div>
                    <div>
                        <a onclick="adminPanel()" class="nav_button">
                            <svg width="21px" height="21px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="100" cy="80" r="18" fill="none" stroke="var(--text-primary)" stroke-width="16"/>

                                <!-- Secondary user head -->
                                <circle cx="140" cy="100" r="12" fill="none" stroke="var(--text-primary)" stroke-width="16"/>

                                <!-- Shoulders -->
                                <path d="M60 140 A40 40 0 0 1 140 140" fill="none" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            </svg>
                            <span class="text mobileHideMe">Users</span>
                        </a>
                        <a onclick="adminRetorts()" class="nav_button">
                            <svg width="23px" height="23px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <line x1="100" y1="60" x2="100" y2="120" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                                <circle cx="100" cy="140" r="8" fill="var(--text-primary)"/>
                            </svg>
                            <span class="text mobileHideMe">Reported Content</span>
                        </a>
                        <a onclick="adminDeveloper()" class="nav_button">
                            <svg width="21px" height="21px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <!-- Central node -->
                                <circle cx="100" cy="100" r="12" fill="var(--text-primary)"/>

                                <!-- Connected nodes -->
                                <circle cx="60" cy="60" r="10" fill="none" stroke="var(--text-primary)" stroke-width="16"/>
                                <circle cx="140" cy="60" r="10" fill="none" stroke="var(--text-primary)" stroke-width="16"/>
                                <circle cx="100" cy="140" r="10" fill="none" stroke="var(--text-primary)" stroke-width="16"/>

                                <!-- Lines connecting nodes -->
                                <line x1="100" y1="100" x2="60" y2="60" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                                <line x1="100" y1="100" x2="140" y2="60" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                                <line x1="100" y1="100" x2="100" y2="140" stroke="var(--text-primary)" stroke-width="16" stroke-linecap="round"/>
                            </svg>
                            <span class="text mobileHideMe">OAuth Apps</span>
                        </a>
                    </div>
                </section>
            <% } %>
            <section class="group">
                <div>
                    <form id="signout-form" action="/auth/logout" method="POST">
                        <button type="submit" class="danger">
                            <span class="text" style="display: inline-flex !important; align-items: center !important; gap: 6px !important;">
                                <span class="mobileHideMe">Sign Out</span>
                                <svg width="14px" height="14px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </g>
                                </svg>
                            </span>
                        </button>
                    </form>
                </div>
            </section>
        </nav>
    </div>
</div>