body {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
}

#login-form, #signup-form {
    align-items: center;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-highlight);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
}

form button {
    border: none;
    border-radius: 10px;
    background-color: var(--accent-secondary);
    color: var(--text-tertiary);
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 14px;
    font-weight: 600;
}

form button:hover {
    background-color: var(--accent-primary);
}

form input {
    border: none;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    width: 100%;
    min-width: 100%;
    height: 32px;
    min-height: 21px;
    text-align: center;
}

form input:hover, form input:focus {
    background-color: var(--background-tertiary);
}

a {
    color: var(--accent-secondary);
    text-decoration: none;
}
