:root {
    scrollbar-width: none;
}
  
  body {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
    background-color: #04050a;
    color: #d7d9e0;
    font-family: "Inter", sans-serif;
  }
  
  /* oversized screen thing */
  @media (min-width: 1416px) {
  
    .landing_feat {
      grid-column: span 9/span 9 !important;
    }
  }
  
  /* Defaults that need overrides 
  @media screen and (min-width: 768px){
    .recommend-starboard {
      overflow-x: hidden;
      overflow-y: auto;
      position: sticky;
      width: 100%;
      top: 56px;
      left: 12rem;
    }
  }
    UNUSED
    TO BE REMOVED
    */
  
  /* Defaults that need overrides
  @media screen and (max-width: 1298px){
    .starboarder {
      display: none !important;
    }
  
    .mobileStarboarder {
      display: none !important;
    }
  }
    UNUSED
    TO BE REMOVED
    */
  
  /* mobile resizing cheat sheets */
  @media screen and (max-width: 412px){
    
  }
  
  @media screen and (max-width: 768px){
    .header-01oozD {
      display: none !important;
    }
    .landing_feat {
      grid-column: span 12/span 12 !important;
    }
    .header-01oozD {
      height: 56px;
      padding-top: 56px;
    }
    #home-left {
      width: 100% !important;
      margin-bottom: 80px;
    }
    #home-left h1 {
      font-size: 48px !important;
      width: 100% !important;
    }
    
    .landing_feat {
      grid-column: span 12/span 12;
    }
    
    
    .starboarder {
      display: none !important;
    }
    .mobileStarboarder {
      display: block !important;
    }
    .cookieBannerText {
      font-size: small !important;
    }
  }

  .cls-1{
    fill: none;
    stroke:#d7d9e0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 30;
  }
  
  .starboarder {
    position: absolute;
    right: 12rem;
    top: 115px;
  }
  
  .mobileStarboarder {
    margin-bottom: 1rem;
    display: none;
    width: 100%;
  }
  
  .mobileReccomend {
    scrollbar-color: transparent;
    scrollbar-width: thin;
    display: block;
    min-height: 266px;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    width: 100%;
  }
  
  #login-form, #signup-form {
    align-items: center;
    background-color: #12131a;
    border: 1px solid #1c286b;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
  }
  
  form button {
    border: none;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 14px;
  }
  
  form input {
    border: none;
    border-radius: 5px;
    background-color: rgba(48, 48, 48, 0.6);
    color: rgb(250, 250, 250);
    width: 100%;
    min-width: 100%;
    height: 32px;
    min-height: 21px;
    text-align: center;
  }
  
  #home-left {
    width: 80%;
    max-width: 620px;
  }
  
  a::after, a::before {
    box-sizing: border-box;
  }
  
  .link-1naFFL {
    cursor:pointer;
    text-decoration: none;
  }
  
  .link-1naFFL:hover {
    text-decoration:underline
  }
  
  .link-2eyudH {
    margin:10px;
    padding:10px
  }
  
  
  
  .profileGrid {
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-bottom: 1rem;
  }
  
  .cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: medium none;
  }

  .join_draulisc_button_container {
    display: flex;
    padding-left: .5rem;
    align-items: center;
  }
  
  .draulisc_post_entry {
    font-size: 1.75rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    color: white;
    font-weight: 600;
  }
  
  
  
  
  
  .hashtag {
    color: #5667c7;
    text-decoration: none;
  }
  .hashtag:hover {
    text-decoration: underline;
  }
  
  .enlargened_post_body {
    max-height: 1000px;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  
  .recommend-starboard {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    grid-column: span 3/span 3;
    display: block;
    min-width: 266px;
  }
  
  .starboard12 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .starboard13 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #ffffff1a;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  
  .starboard14 {
    color: lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .commentsContainer {
    max-width: 780px;
    margin-bottom: 6rem;
  }
  
  #thenewpostingposterbutton, .theTargetButton {
    border: none;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 14px;
  }