body {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
}

a {
    color: var(--accent-terciary);
}

.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin: 3rem auto 0;
    width: 92%;
    max-width: min(1250px, 100%);
    overflow: hidden;
}

/*
    TO BE REMOVED?
    .gridz {
        grid-template-columns: repeat(16,minmax(0,1fr));
        max-width: 1352px;
        margin: auto;
        display: grid;
    }

*/

.home_container {
    grid-column: span 13/span 13;
    gap: 1rem;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

/*
    TO BE REMOVED?
    .container_container {
        grid-template-columns: repeat(13,minmax(0,1fr));
        display: grid;
        margin-bottom: 3.2rem !important;
    }
*/

.landing_feat {
    grid-column: span 9/span 9;
    display: block;
}

.draulisc_post_container {
    border-radius: 3px;
    padding: 1rem;
    background-color: var(--background-secondary);
    cursor: pointer;
    display: block;
    margin-top: .25rem;
    margin-bottom: 1.25rem;
    position: relative;
    min-width: 750px;
}

.draulisc_post_header_container {
    line-height: 1rem;
    justify-content: space-between;
    min-height: 32px;
    display: flex;
    margin-bottom: .45rem;
    padding-bottom: 8px !important;
}

.draulisc_post_header {
    flex-wrap: nowrap;
    line-height: 1rem;
    gap: 6px;
    align-items: center;
    width: 100%;
    display: flex;
    font-family: "ubuntu mono", serif !important;
}

.draulisc_post_user_container {
    position: relative;
    background: var(--background-highlight);
    border-radius: 50px;
    padding: 3px 8px 3px 0;
}

.draulisc_post_user {
    text-decoration-line: none;
    color: #d7d9e0;
    font-weight: 600;
    line-height: 1rem;
    font-size: .75rem;
    white-space: nowrap;
    align-items: center;
    height: 2rem;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width of the parent div */
    height: 100%; /* Cover the entire height of the parent div */
    background-color: transparent;
}

.draulisc_post_body {
    max-height: 330px;
    max-width: 100%;
    height: auto;
    display: block;
}

.draulisc_post_texter {
    background: transparent;
    padding: 8px;
    margin-top: 1rem;
    /*text-align: center;*/
    width: 100%;
}

.draulisc_post_texter a {
    color: var(--accent-terciary);
}

/* mobile resizing cheat sheets */
@media screen and (max-width: 412px) {
    .draulisc_post_container {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .home_container {
        grid-column: span 12/span 12;
        position: absolute;
        left: 0;
    }
    .container_container {
        gap: 1.5rem;
        display: inline !important;
    }
    .draulisc_post_container {
        min-width: 300px !important;
        max-width: 75% !important;
        border: none !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px !important;
    }
    .draulisc_post_texter {
        background: var(--background-highlight);
        padding: 8px;
        border-radius: 12px;
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }
}