.desktop_navigation_container {
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 60px;
}

.header_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 44px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    height: 44px;
    padding: 8px 16px;
    background-color: var(--background-tertiary);
    font-weight: 600;
    line-height: 1.43;
    color: var(--text-primary);
    z-index: 5;
}

.logo {
    height: 46px;
    vertical-align: text-bottom;
    color: inherit;
    border-radius: 10px;
}

.action_buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    gap: 6px;
}

.action_buttons_list a {
    text-decoration: none;
    margin-right: .5rem;
}

@media screen and (max-width: 768px) {
    .action_buttons_container {
        display: none !important;
    }
}