body {
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.5rem;
  background-color: #04050a;
  color: #d7d9e0;
  font-family: "Inter", sans-serif;
}

.errorContainer {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.errorClass {
  text-align: center;
  align-self: center;
  padding: 52px 16px 16px;
  max-width: 50%;
}

.errorCode {
  text-align: center;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
}

.errorText {
  text-align: center;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.errorCode h1 {
  position: relative;
  padding: 30px;
  animation-name: wobble;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes wobble {
  0% { transform: translateX(0); opacity: 0.8; }
  5% { opacity: 0.3; }
  10% { opacity: 1; }
  15% { opacity: 0.6; }
  20% { opacity: 1; }
  25% { transform: translateX(8px); opacity: 0.1; }
  50% { transform: translateX(-6px); opacity: 1; }
  75% { transform: translateX(3px); }
  100% { transform: translate(-1px); opacity: 0.2; }
}