.popup_menu {
    font-weight: 600;
    padding: 0.4rem;
}

.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 8px;
    background-color: var(--background-terciary);
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--text-secondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--background-highlight);
}

.dropdown-content .destructive_options {
    font-weight: 600;
    color: var(--text-terciary);
    background-color: var(--accent-secondary);
    width: 100%;
    border-radius: 0;
}

.dropdown-content .destructive_options:hover {
    background-color: var(--accent-primary);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}