:root {
    scrollbar-width: none;
}

body {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
}

.input input, textarea {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    height: 38px;
    width: 100%;
    padding: 0 8px;
    margin: 12px 0;
    font-weight: 400;
    font-size: 1em;
    color: var(--text-primary);
    background: var(--background-highlight);
    border: 1px solid var(--background-highlight);
    border-radius: 8px;
    outline: none;
    box-shadow: none;
}

button, .button_save {
    margin: 8px 0 0;
    color: var(--text-tertiary);
    background: var(--accent-primary);
    font-weight: 700;
    z-index: 1;
    display: block;
    min-width: 100px;
    min-height: 35px;
    width: max-content;
    padding: 8px 16px;
    text-align: center;
    font-size: max(12px, 1em);
    box-shadow: none;
    text-decoration: none;
    border-radius: 8px;
    overflow: clip;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}

.button_save:hover {
    background: var(--accent-secondary);
}

input:disabled {
    cursor: not-allowed !important;
}

.hydrauliscselapp, #hydrauliscselapp {
    margin-top: 3.5rem;
}

.forbidden_content_settings_container {
    min-height: calc(6px * 100);
    box-sizing: border-box;
    display: flex;
}

.forbidden_content_container {
    border-right: .5px solid var(--background-highlight);
    width: 100%;
    min-width: 0;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.forbidden_content_settings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: sticky;
    top: 0;
}

.settings_container {
    outline: none;
    display: flex;
    flex-direction: column;
}

.settings_container_sticky {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: sticky;
    top: 0px;
}

.forbidden_container {
    padding: 32px;
    box-sizing: border-box;
    width: 100%;
}

.forbidden_wide {
    max-width: 1152px;
    margin: 0 auto;
}

.forbidden_content {
    display: flex;
    height: 100%;
}

.settings_navigation_container {
    width: 34%;
    padding-right: 21px;
    box-sizing: border-box;
}

.group_title {
    opacity: .8;
    margin: 8px 12px 8px 0;
    font-size: .9em;
}

.nav_button {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: .9em;
    margin-bottom: .3rem !important;
    appearance: none;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    touch-action: manipulation;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}

.nav_button:hover {
    background: var(--background-secondary);
}

.nav_button .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.settings_display_container {
    flex: 1;
    min-width: 0;
}

.lluviere {
    background: var(--accent-highlight);
    background-position: center;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}

.caption {
    font-size: smaller;
}

.danger {
    color: var(--text-tertiary) !important;
    border: none;
    border-radius: 6px;
    padding: .65rem;
    cursor: pointer;
    width: 100%;
    margin-top: .35rem;
    background: var(--accent-highlight);
    color: #d7d9e0;
    font-weight: 600;
}

.danger:hover {
    background: var(--accent-primary);
}

.theme_overrides {
    gap: 8px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 20px 0;
}

.theme_override {
    padding: 12px;
    margin-top: 8px;
    border: 1px solid var(--text-primary);
    border-radius: 4px;
}

.theme_title {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.theme_picker_container {
    gap: 8px;
    display: flex;
}

.theme_picker {
    width: 38px;
    height: 38px;
    display: grid;
    cursor: pointer;
    place-items: center;
    border-radius: 4px;
    background: var(--background-secondary);
}

.theme_input, input[type="color"] {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 6px;
    padding: 0.25rem;
}

/* Keep these apart */
.users_table_container {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px;
    overflow-x: auto;
}

.users_table {
    width: 100%;
    border-collapse: collapse;
}

.users_table th,
.users_table td {
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 1px solid var(--text-secondary);
}

.users_table th {
    font-weight: 600;
    color: var(--text-secondary);
}

.inner {
    max-width: 230px;
    max-height: 230px;
    border-radius: 50%;
}

a {
    color: var(--accent-primary);
}

h3 {
    color: var(--accent-highlight);
}

.users_table a:hover {
    text-decoration: underline;
}

.users_table button {
    padding: 0;
}

.action_buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.inline-form {
    display: inline;
}
