:root {
    scrollbar-width: none;
}

body {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
    background-color: var(--background-primary);
    color: var(--text-secondary);
    font-family: "Inter", sans-serif;
}

.app_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
    margin: 3rem auto 0;
    width: 92%;
    max-width: 100%;
    overflow: hidden;
}

.spacer_two {
    margin-top: 6rem;
}

form {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    min-width: 412px;
}

form button {
    border: none;
    border-radius: 10px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 14px;
    min-width: 90%;
    max-width: 100%;
}

form input {
    border: none;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    height: 32px;
    min-height: 21px;
    min-width: 90%;
    text-align: center;
    align-content: center;
    margin-bottom: 6px;
}

#preview {
    width: auto;
    height: auto;
    max-height: 540px;
    max-width: 90%;
}