<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Hydraulisc</title>
    <meta property="og:title" content="Login Page - Hydraulisc">
    <meta property="og:description" content="Hydraulisc - Stay in the loop | Log in or Sign up to continue">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/authStyles.css">
</head>
<body>
    <div style="height: 100%; display: flex; color: #fff; align-items: center; flex-direction: column; justify-content: center; background-size: cover; background-position: center;">
        <div style="padding: 48px 26px 24px; display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-top: 12px; max-width: 350px;">
            <form id="login-form" style="height: 686px !important;" action="/auth/login" method="POST">
                <div style="margin-top: 36px;overflow: visible;margin-bottom: 12px;align-content: stretch;border-bottom-left-radius: 0;background-color: transparent;flex-direction: column;box-sizing: border-box;display: flex;border-bottom-right-radius: 0;align-items: stretch;align-self: auto;justify-content: flex-start;position: relative;flex-grow: 0;border-top-left-radius: 0;border-top-right-radius: 0;">
                    <div style="cursor: pointer; display: flex; justify-content: center;">
                        <img src="https://about.hydraulisc.net/assets/img/Foss-Hydraulisc.png" style="width: 80%; height: auto; display: inline-block;">
                    </div>
                </div>
                <div style="overflow: hidden; margin-top: 24px; align-content: stretch; flex-direction: column; display: flex; flex-shrink: 0; align-items: stretch; align-self: auto; position: relative; flex-grow: 0;">
                    <input type="text" name="username" placeholder="Username#9999" autocomplete="username" pattern="^[a-zA-Z0-9.]+#\d{4}$" minlength="8" maxlength="35" oninvalid="this.setCustomValidity('Invalid characters! Usernames contain letters, numbers, and periods, followed by a discriminator \(#0001\).')" oninput="this.setCustomValidity('')" required />
                    <input type="password" name="password" placeholder="Password" autocomplete="current-password" required />
                    <button type="submit">Login</button>
                    <div style="margin: 10px 40px 18px;">
                        <div style="display: flex; flex-direction: row;">
                            <div style="top: .45em; height: 1px; flex-shrink: 1; position: relative; flex-grow: 1; background-color: #d7d9e0;"></div>
                        </div>
                    </div>
                    <div style="overflow: visible; margin-top: 8px; margin-bottom: 8px; align-content: stretch; flex-direction: column; box-sizing: border-box; display: flex; margin-left: 40px; flex-shrink: 0; align-items: stretch; align-self: auto; justify-content: flex-start; position: relative; margin-right: 40px; flex-grow: 0; text-align: center;">
                        <p style="font-size: small;">The <a href="/legal/privacy">Privacy Policy</a> and <a href="/legal/terms">Terms of Use</a> apply.</p>
                        <p style="font-size: small;">Please follow our <a href="/legal/guidelines">Guidelines</a>.</p>
                    </div>
                    <div style="overflow: visible; margin-top: 8px; margin-bottom: 8px; align-content: stretch; flex-direction: column; box-sizing: border-box; display: flex; margin-left: 40px; flex-shrink: 0; align-items: stretch; align-self: auto; justify-content: flex-start; position: relative; margin-right: 40px; flex-grow: 0; text-align: center;">
                        <p style="font-size: smaller;">You can also <a href="https://about.hydraulisc.net/help/articles/101013">report content, accounts</a>, and more without logging in.</p>
                    </div>
                    <div style="margin-top: 8px; overflow: visible; margin-bottom: 8px; align-content: stretch; flex-direction: column; box-sizing: border-box; display: flex; margin-left: 40px; flex-shrink: 0; align-items: stretch; align-self: auto; justify-content: flex-start; position: relative; margin-right: 40px; flex-grow: 0;">
                        <a href="/register" style="background: rgb(48, 48, 48) !important; border-radius: 10px; color: #d7d9e0 !important; align-self: center; padding: 10px; text-decoration: none;">New member?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
