<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload | Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:image" content="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/uploadStyles.css">
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <div class="app_container">
        <div class="spacer_two">
            <form action="/api/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept=".jpeg,.jpg,.png,.gif,.webp">
                <input type="text" name="title" id="title">
                <button type="submit">Upload!</button>
            </form>
            <div style="text-align: center; font-size: smaller; margin-top: -10px;">Allowed file types: jpeg, png, gif, webp</div>
        </div>
    </div>
    <div class="app_container">
        <img style="display: none;" src="" alt="Preview" id="preview">
        <noscript>If you disable JS, we can't ensure upload functionality.</noscript>
    </div>

    <script>
        document.getElementById("file").addEventListener("change", function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const preview = document.getElementById("preview");
                    preview.src = e.target.result;
                    preview.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>

    <%- include('../partials/cookies', { cookies }) %>
    <%- include('../partials/footer', { username: ownId}) %>
</body>
</html>
