<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Welcome to Hydraulisc. Sign in or Sign up to join our incredible community!">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/welcomePage.css">
    <link rel="stylesheet" href="/css/classicStyles.css">
</head>
<body>
      
    <div class="body_main">
        <div id="home-wrapper" style="align-items: center; width: 85%; max-width: 1280px; justify-content: space-between; margin-left: auto; margin-right: auto; padding-top: 80px; padding-bottom: 80px; display: flex; flex-direction: column; text-align: center;">
            <div id="home-left">
                <img src="https://raw.githubusercontent.com/Hydraulisc/hydraulisc.github.io/main/assets/img/Hydraulisc.png" alt="Hydraulisc Logo" style="width: 200px; height: auto; margin-bottom: 20px;">
                <h1 id="home-heading" style="font-size: 48px; font-weight: 800; line-height: 120%; margin-top: 0; margin-bottom: 32px;">Stay in The Loop.</h1>
                <a style="background-color: #d1087a; padding: 20px 40px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; font-size: 18px; transition: background-color 0.3s ease-in-out;" href="/register?utm_src=temp%20one&utm_source=temp%20one">Alpha Private Test Access</a>
            </div>
        </div>
        <div style="align-items: center; width: 85%; margin-left: auto; margin-right: auto; max-width: 1280px; justify-content: space-between; padding-bottom: 80px; display: flex;">
            <div class="promoOne" style="align-items: left;">
                <h3>Supported on All Devices</h3>
                <img src="https://res.cloudinary.com/daevtrjou/image/upload/v1705518810/1000008452-picsay.webp.webp" alt="promotional image one" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
            </div>
            <div class="promoTwo" style="align-items: right;">
                <h3>5-Way Cryptographically Encrypted Private Messages</h3>
                <img src="https://res.cloudinary.com/daevtrjou/image/upload/v1703175840/Screen%20Shot%202023-12-21%20at%2015.48.37.png.png" alt="promotional image two" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
            </div>
        </div>
    </div>
</body>

</html>