<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Welcome to Hydraulisc - Image Sharing Social Network like no other.">
    <meta property="og:image" content="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/welcomePage.css">
    <script src="/js/themeHelper.js"></script>
</head>
<body>
    
    <div class="body_main">
        <div class="home_wrapper">
            <div>
                <img src="https://about.hydraulisc.net/assets/img/Foss-Hydraulisc.png" alt="Hydraulisc Logo" style="width: 200px; height: auto; margin-bottom: 20px;" loading="eager">
                <h1 class="home_heading">Stay in the loop, with Hydraulisc.</h1>
                <p class="home_subheading">Free, Open Source, Image Sharing Social Network, like no other.</p>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; margin-top: 2rem; margin-bottom: 2rem; gap: 2rem;">
                    <a style="background-color: #8086d4; padding: 20px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; font-size: 18px;" href="/register">Open Web App</a>
                    <a style="background-color: rgb(48, 48, 48); padding: 20px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; font-size: 18px;" href="https://github.com/Hydraulisc/Foss-Hydraulisc" target="_blank">Source Code</a>
                </div>
            </div>
        </div>
        <div class="features_wrapper">
            <div class="features_text_container">
                <h2 class="features_text_title">Features</h2>
                <p class="features_text"></p>
            </div>
            <div class="features_grid_container">
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Free, Forever</h3>
                        <p>Hydraulisc is free, Open Source, and backed by donations. Absolutely no hidden fees or subscription costs.</p>
                    </div>
                </div>
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Customizable, by design</h3>
                        <p>Hydraulisc is completely customisable, with consideration for custom themes.</p>
                    </div>
                </div>
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Self-Hostable</h3>
                        <p>Hydraulisc offers self-hosting options, with admin accounts, invite-only modes, and more in mind.</p>
                    </div>
                </div>
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Privacy Focused</h3>
                        <p>No email is ever required, passwords are encrypted by default, no IP logging or general logging. <sup style="cursor: pointer; font-weight: bold;" title="As per our privacy policy, we log the absolute minimum for site functionality.">[1]</sup></p>
                    </div>
                </div>
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Share, like no other</h3>
                        <p>Hydraulisc users are allowed to create unlimited posts <sup style="cursor: pointer; font-weight: bold;" title="As per our Community Guidelines, spamming can still result in an immediate ban.">[2]</sup>, and share to their hearts content.</p>
                    </div>
                </div>
                <div class="feature_grid_area">
                    <div class="feature_grid_content">
                        <h3>Discriminators</h3>
                        <p>Want to stand out? Hydraulisc lets 9,998 users share the same name—thanks to discriminators. <sup style="cursor: pointer; font-weight: bold;" title="10k minus two, reserved for special cases.">[3]</sup></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="open_source_banner">
            <h2 class="feature_list_title">Proudly Open Source</h2>
            <p>Hydraulisc is an open source project.<br>The code is available on <a href="https://github.com/Hydraulisc/foss-hydraulisc" target="_blank" rel="noopener noreferrer" style="text-decoration: underline !important;">GitHub</a>.</p>
            <div>
                <a href="https://ko-fi.com/SleepingAmi" target="_blank">
                    <img height="36" style="border: 0px; height: 36px;" src="https://storage.ko-fi.com/cdn/kofi5.png?v=6" alt="Donate on Ko-Fi.com" loading="lazy">
                </a>
            </div>
        </div>
        <div class="version_display">
            <p>Hydraulisc v<%- version %></p>
            <p><a href="/legal/terms" target="_blank" rel="noopener noreferrer">Terms</a> <a href="/legal/privacy" target="_blank" rel="noopener noreferrer">Privacy</a> <a href="http://about.hydraulisc.net/docs" target="_blank" rel="noopener noreferrer">Docs</a> <a href="https://discord.gg/Syn5GVDemH" target="_blank" rel="noopener noreferrer">Discord</a></p>
        </div>
        <%- include('../partials/cookies', { cookies }) %>
    </div>
</body>

</html>