<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Welcome to Hydraulisc. Sign in or Sign up to join our incredible community!">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/welcomePage.css">
</head>
<body>
    <div class="body_main">
        <div class="home_wrapper">
            <div>
                <img src="https://raw.githubusercontent.com/Hydraulisc/hydraulisc.github.io/main/assets/img/Hydraulisc.png" alt="Hydraulisc Logo" style="width: 200px; height: auto; margin-bottom: 20px;">
                <h1 class="home_heading">Stay in the loop.</h1>
                <a style="background-color: #5667c7; padding: 20px; border-radius: 8px; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; font-size: 18px; transition: background-color 0.3s ease-in-out;" href="/register">Alpha Private Test Access</a>
            </div>
        </div>
        <div class="home_left">
            <div class="promo_one">
                <h3>Supported on any device</h3>
                <img src="https://res.cloudinary.com/daevtrjou/image/upload/v1705518810/1000008452-picsay.webp.webp" alt="promotional image one" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
            </div>
        </div>
    </div>
</body>

</html>