<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Policy | Hydraulisc</title>
    <meta property="og:title" content="Cookies | The Hydraulisc Network">
    <meta property="og:description" content="The Hydraulisc Network Guidelines">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <link rel="canonical" href="https://hydraulisc.net/404">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Read the Hydraulisc Cookie Policy - Privacy First!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="manifest" href="/json/manifest.json">
    <style>
        body {
            background-color: #d7d9e0;
            color: #04050a;
            font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        .maincontentcontainer {
            padding: 0 24px;
            line-height: 28px;
            box-sizing: border-box;
        }

        .maincontent {
            display: flex;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%;
        }
        a {
            text-decoration: none;
            color: #5667c7;
        }
        ul li {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <div class="maincontentcontainer">
        <h1 style="line-height: 26px !important;">Hydraulisc Cookies Policy</h1>
        <hr>
        <div class="maincontent">
            <div>
                <div>
                    <span>
                        <p><i>We have updated our Cookie Policiy. This updated document is effective as of March 6th, 2026.</i></p>
                    </span>
                </div>
                <span>
                    <br>
                    <div>
                        <div>
                            <p>Cookies help us provide, protect and improve The Hydraulisc Network Products, mainly by providing a safer experience and reinforcing client-side authentication verification. The cookies that we use include persistent cookies, which stay in your browser until they expire or you delete them. The cookies that we  may change over time as we improve and update The Hydraulisc Network Products, we typically use them for the following purposes:</p>
                        </div>
                        <div>
                            <details style="cursor: default;">
                                <summary>Authentication</summary>
                                <hr>
                                <ul>
                                    <li style="margin-top: auto;">We use cookies to verify your account and determine when you're logged in so that we can make it easier for you to access The Hydraulisc Network Products and show you the appropriate experience and features.</li>
                                    <p>For example: We use cookies to keep you logged in as you navigate between Hydraulisc Pages. Cookies also help us remember your browser so you don't have to keep logging in to Hydraulisc and so you can more easily log in to Hydraulisc via third-party apps and websites. For example, we use the "connect.sid" and "cookiesAccepted" cookies, which have a rolling lifespan of 2 days.</p>
                                </ul>
                            </details>
                            <details style="cursor: default;">
                                <summary>Security, product integrity, insights, analytics and measurements</summary>
                                <hr>
                                <ul>
                                    <li style="margin-top: auto;">We use cookies to help us keep your account, data and The Hydraulisc Network Products safe and secure.</li>
                                    <p>For example: Cookies can help us identify and impose additional security measures when someone may be attempting to access a Hydraulisc account without authorisation, for instance, by rapidly guessing different passwords.</p>
                                    <li>We use cookies to provide you with the best experience possible.</li>
                                    <p>For example: Cookies help us route traffic between servers and understand how quickly The Hydraulisc Network Products load for different people. Cookies also help us record your theme selection, and know whether you've enabled high-contrast mode, so that we can render our sites and apps correctly. For example, we set the "theme" and "customTheme" cookies, each with a rolling lifespan of two days, for purposes including to deliver an optimal experience for your chosen theme.</p>
                                    <li>We use cookies to better understand how people use The Hydraulisc Network Products so that we can improve them.</li>
                                    <p>For example: Cookies can help us understand how people use the Hydraulisc service, analyse which parts of our Products people find most useful and engaging, and identify features that could be improved.</p>
                                    <li>Cookies also allow us to provide insights about the people who use The Hydraulisc Network Products, as well as the people who interact with the ads, and the businesses that use The Hydraulisc Network Products.</li>
                                    <p>For example: We use cookies to help businesses understand the number of people who like their Hydraulisc Posts or interacted with their advertisement.</p>
                                </ul>
                            </details>
                        </div>
                        <br>
                        <div>
                            <h2>Where do we use cookies?</h2>
                            <p>We may place cookies on your device and receive information stored in cookies when you use or visit:</p>
                            <ul>
                                <li><a href="https://about.hydraulisc.net/platforms/" target="_blank" rel="noopener noreferrer">The Hydraulisc Network Products <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" aria-hidden="false" aria-label="(Link is external)" class="x1ngqms7 x2811sa xznp65t x1n2onr6 xrhstn2 xn47u6e"><path d="M6 19h12a1 1 0 0 0 1-1v-5h2v5a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h5v2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1z"></path><path d="M11.293 11.293 17.586 5H14a1 1 0 1 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V6.414l-6.293 6.293a1 1 0 0 1-1.414-1.414z"></path></svg></a></li>
                                <li>Websites and apps provided by other companies that use The Hydraulisc Network Products, including companies and/or individuals that incorporate Hydraulisc  technologies into their websites and apps. The Hydraulisc Network may receive information when you visit those sites and apps, including information about your activity, without any further action from you.</li>
                            </ul>
                        </div>
                        <br>
                        <div>
                            <h2>Do other Companies use cookies in connection with The Hydraulisc Network Products?</h2>
                            <p>Yes, third-party companies may use cookies regarding information associated with your data and/or activities on or across The Hydraulisc Network Products to provide certain features and improve services for you. To understand how third parties use cookies, please review their policies.</p>
                        </div>
                        <br>
                        <div>
                            <h2>How can you control your information?</h2>
                            <p>You can control how we use data to show you ads and more by using the tools described below.</p>
                            <details>
                                <summary>If you have a legacy account</summary>
                                <hr>
                                <p><b>Legacy accounts</b> were deleted permanently on the <b>21st of February, 2025</b>. All related information was also deleted at this date.</p>
                            </details>
                            <details>
                                <summary>If you have a Hydraulisc Network Account</summary>
                                <hr>
                                <ul>
                                    <li>Your browser or device may offer settings that allow you to choose whether browser cookies are set and to delete them. These controls vary by browser, and manufacturers may change both the settings that they make available and how they work at any time.</li>
                                    <li>Additionally, you can manage certain aspects regarding which cookies we may store on your device by going to <a href="/settings">your privacy settings<svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" aria-hidden="false" aria-label="(Link is external)" class="x1ngqms7 x2811sa xznp65t x1n2onr6 xrhstn2 xn47u6e"><path d="M6 19h12a1 1 0 0 0 1-1v-5h2v5a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h5v2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1z"></path><path d="M11.293 11.293 17.586 5H14a1 1 0 1 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V6.414l-6.293 6.293a1 1 0 0 1-1.414-1.414z"></path></svg></a>.</li>
                                </ul>
                            </details>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</body>
</html>